@{
    ViewData["Title"] = "About Us - MvcShoes by SoleInnovate";
}

<h1>About SoleInnovate</h1>

<p>SoleInnovate is a visionary company committed to revolutionizing the footwear industry with innovative and comfortable shoes.</p>

